<div class="navbar-container">
  @if (sharedService.darkMode()) {
    <img class="logo" src="assets/logo-light.svg" alt="logo" width="250" height="60" [draggable]="false">
  } @else {
    <img class="logo" src="assets/logo.svg" alt="logo" width="250" height="60" [draggable]="false">
  }
  <div class="nav-links">
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/home">Home</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'">Pricing</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/signup">Register</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/login">Login</div>
    @if (sharedService.darkMode() === false) {
      <i class="pi pi-moon" (click)="sharedService.darkMode.set(true)"></i>
    } @else {
      <i class="pi pi-sun" (click)="sharedService.darkMode.set(false)"></i>
    }
  </div>
</div>