<div class="navbar-container">
  @if (sharedService.darkMode()) {
    <img class="logo" src="assets/logo-light.svg" alt="logo">
  } @else {
    <img class="logo" src="assets/logo.svg" alt="logo">
  }
  <div class="nav-links">
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/home">Home</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'">Pricing</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/signup">Register</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/login">Login</div>
    @if (sharedService.darkMode() === false) {
      <img class="moon-icon" src="assets/icons/moon-icon.svg" alt="dark mode" (click)="sharedService.darkMode.set(true)" width="22">
    } @else {
      <img class="sun-icon" src="assets/icons/sun-warm-icon.svg" alt="light mode" (click)="sharedService.darkMode.set(false)" width="22">
    }
  </div>
</div>