@import 'include-media';
@import '../../../variables.scss';

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @include media('<phone') {
    justify-content: flex-start;
    align-items: normal;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  gap: 20px;
  padding: 35px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);

  img {
    @include media('<phone') {
      max-width: 90%;
    }
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;

    p-button {
      margin-top: 10px;
    }

    @include media('<phone') {
      width: 100%;
    }
  }

  @include media('<phone') {
    border-radius: 0;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  label {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    color: rgb(68, 68, 68);
  }

  input {
    margin: auto;
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  opacity: 0.6;
  font-family: "Outfit", sans-serif;
  width: 100%;
  color: black;

  &:before {
    display: inline-block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: black;
  }

  &:after {
    display: inline-block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: black;
  }
}

.google-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 1px solid $theme-color-main;
  border-radius: 5px;
  color: black;

  img {
    margin-right: auto;
  }

  span {
    margin: auto;
    font-family: "Outfit", sans-serif;
  }

  &:hover {
    cursor: pointer;
  }
}

.already {
  font-size: 0.9rem;
  font-family: "Outfit", sans-serif;
  color: $theme-color-main;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}