@use '../../../../variables.scss' as variables;
$breakpoints: variables.$breakpoints;
@import 'include-media';

p-progressSpinner {
  position: absolute;
  padding: 2.5rem;
}

.no-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;

  img {
    max-width: 330px;
    opacity: 0.5;
    margin-bottom: 2rem;
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }
}

.clients {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;

  @include media('<phone') {
    justify-content: center;
  }
}

.client {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 10px;
  width: 275px;
  animation: routeAnimation 0.2s linear;

  @include media('<phone') {
    font-size: 1.5rem;
    width: 100%;
  }
}

.client-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.client-logo {
  max-width: 130px;
  border-radius: 10px;
}

.menu {
  margin-left: auto;

  .pi {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50%;
    color: gray;

    &:hover {
      cursor: pointer;
      background-color: rgba(223, 223, 223, 0.188);
    }
  }

  @include media('<tablet') {
    padding: 0;
  }
}

.client-name {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  margin: 15px 0 10px;
  text-align: center;
}

.client-location,
.client-email,
.client-phone,
.client-connect {
  margin-bottom: 10px;
}

.client-location,
.client-email,
.client-phone,
.client-contacts,
.client-connect {
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  max-width: 100%;
  overflow: hidden;
}

.add-link {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  opacity: 0.7;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}