<div class="route-container">
  @if (authService.coreBusinessData()?.clients.length <= 0) {
    <div class="no-clients">
      <img src="assets/working.svg" alt="business owner working" [draggable]="false">
      <span>You currently have no clients. <br class="phone-break">Start adding some!</span>
      <p-button label="Add Client +" (onClick)="sharedService.showAddClientModal.set(true)"></p-button>
    </div>
  } @else {
    <div class="clients">
      @for (client of authService.coreBusinessData()?.clients; track client.id) {
        <div class="client" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'">
          <div class="client-header">
            <img class="client-logo" src="assets/avatars/default-business-avatar.png" alt="client logo" [draggable]="false">
            <div class="menu">
              <i class="pi pi-ellipsis-h" (click)="menu.toggle($event); modalClientName.set(client.name)"></i>
              <p-menu #menu [model]="clientOptions" [popup]="true"/>
            </div>
          </div>
          <div class="client-name">{{ client?.name }}</div>
          <div class="client-email">
            <i class="pi pi-envelope"></i>
            @if (client.email) {
              @if (client.email.length >= 25) {
                <span pTooltip="{{client.email}}" tooltipPosition="bottom" [autoHide]="false">{{ client.email | truncate: 25 }}</span>
              } @else {
                {{ client.email }}
              }
            } @else {
              <div class="add-link" [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">Add email</div>
            }
          </div>
          <div class="client-phone">
            <i class="pi pi-phone"></i>
            @if (client.phone) {
              {{ client.phone }}
            } @else {
              <div class="add-link" [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">Add phone</div>
            }
          </div>
          <div class="client-contacts">
            <i class="pi pi-address-book"></i>
            @if (client.contacts) {
              Contact here
            } @else {
              <div class="add-link" [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">Add contact</div>
            }
          </div>
        </div>
      }
    </div>
  }
  <tcd-confirm [showConfirmModal]="showConfirmModal()" (onClose)="onModalClose($event)" [message]="modalMessage()"/>
</div>