<div class="route-container">
  <div class="clients">
    <div class="client" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'">
      <div class="client-header">
        <img class="client-logo" src="assets/avatars/default-business-avatar.png" alt="client logo" [draggable]="false">
        <div class="menu">
          <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
          <p-menu #menu [model]="clientOptions" [popup]="true"/>
        </div>
      </div>
      <div class="client-name">Citali Healthcare Solutions</div>
      <div class="client-email"><i class="pi pi-envelope"></i>info&#64;citalihcs.com</div>
      <div class="client-phone"><i class="pi pi-phone"></i>(210) 540-6838</div>
      <div class="client-contacts"><i class="pi pi-address-book"></i>2 Contacts</div>
    </div>
</div>