@use '../../../../variables.scss' as variables;
$breakpoints: variables.$breakpoints;
@import 'include-media';

.business-name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  margin-top: 20px;
}

.first-widgets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}

.small-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 130px;
  width: 280px;
  border-radius: 15px;

  .pi {
    font-weight: 600;
    font-size: 2rem;
    padding: 11px;
    border-radius: 50%;
    color: black;
  }

  strong, span {
    font-family: "Outfit", sans-serif;
  }

  strong {
    font-size: 1.3rem;
  }

  span {
    font-size: 1rem;
    opacity: 0.5;
  }
}

.small-widget__info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 2px;
}