<p-dialog header="Confirmation" [modal]="true" (onHide)="closeModal()" [(visible)]="showConfirmModal" [style]="{ width: '23rem' }">
  <span class="p-text-secondary block mb-5">{{ message }}</span>
  <div class="dialogactions">
    <p-button label="Cancel" (onClick)="closeModal()" severity="secondary" [disabled]="dialogLoading()"/>
    @if (type === 'delete') {
      <p-button label="Delete" icon="pi pi-trash" (onClick)="submitDialog()" severity="danger" [loading]="dialogLoading()"/>
    } @else if (type === 'confirm') {
      <p-button label="Confirm" icon="pi pi-check" (onClick)="submitDialog()" severity="success" [loading]="dialogLoading()"/>
    }
  </div>
</p-dialog>
