@import 'include-media';
@import '../../../variables.scss';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin: 50px 10px 50px;

  h1 {
    font-size: 4.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    max-width: 700px;
    text-align: center;
    margin: 0;

    @include media('<tablet') {
      font-size: 2.7rem;
    }
  }

  p {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    margin: 20px 0 0;
    font-weight: 200;
    text-align: center;

    @include media('<tablet') {
      font-size: 1.3rem;
    }
  }

  @include media('<tablet') {
    margin-top: 35px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.main-button {
  margin-top: 30px;
  height: 45px;
  width: 100%;
  max-width: 165px;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(217, 237, 255);
  border-radius: 10px;
  box-shadow: 0 5px rgb(160, 160, 160);
  font-family: "Outfit", sans-serif;
  transition: 0.1s linear;

  &:hover {
    cursor: pointer;
    background-color: rgb(188, 225, 255);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  @include media('<phone') {
    font-size: 1rem;
    max-width: 140px;
  }
}

.sub-button {
  margin-top: 30px;
  height: 45px;
  width: 100%;
  max-width: 165px;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(0, 90, 169);
  border-radius: 10px;
  box-shadow: 0 5px rgb(160, 160, 160);
  font-family: "Outfit", sans-serif;
  transition: 0.1s linear;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 71, 134);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  @include media('<phone') {
    font-size: 1rem;
    max-width: 140px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 100px;
  margin: 80px 10px 40px;

  .counting {
    max-width: 450px;

    @include media('<tablet') {
      width: 90%;
    }
  }

  @media screen and (max-width: 1110px) {
    gap: 20px;
  }

  @include media('<tablet') {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
}

.files {
  position: absolute;
  right: -10px;
  top: -30px;
  max-width: 80px;

  @include media('<phone') {
    top: -15px;
  }
}

.features {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.feature {
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Outfit", sans-serif;
}

// #region Testimonial Section
.testimonials {
  font-family: Arial, sans-serif;
  padding: 40px 20px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto 50px;

  @include media('<phone') {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

.testimonials-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}

.testimonials-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonial-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 245, 245);
  padding: 20px;
  text-align: left;
}

.review {
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: "Outfit", sans-serif;
}

.reviewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.stars {
  color: #FFD700; /* Gold for stars */
  font-size: 1.2rem;
}

.dark-testimonial-box {
  background-color: rgb(57, 57, 57);
  color: white;
}

@media (max-width: 600px) {
  .testimonials-container {
    grid-template-columns: 1fr;
  }
}
// #endregion