@use '../../../../variables.scss' as variables;
$breakpoints: variables.$breakpoints;
@import 'include-media';

.inbox-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  .pi {
    font-size: 2.5rem;
  }

  span {
    font-size: 1.3rem;
    font-family: "Outfit", sans-serif;
  }
}