@import "primeicons/primeicons.css"; /* PrimeIcons should be first */
@import "primeng/resources/primeng.css"; /* PrimeNG component styles */
@import "primeng/resources/themes/lara-light-blue/theme.css"; /* Theme styles */
@import 'include-media';
$breakpoints: (
  'phone': 460px,
  'tablet': 768px,
  'desktop': 1024px
);

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

p-progressSpinner {
  z-index: 5;
}

p-button .p-button {
  transition: none;
  min-width: 110px;
}

p-password .p-password, p-password input {
  margin: auto;
  width: 100%;
  font-family: "Outfit", sans-serif;
}

.p-dropdown {
  width: 100%;
}

input,
textarea,
.p-checkbox .p-checkbox-box,
.p-button,
.p-dropdown,
.p-dialog .p-dialog-header .p-dialog-header-icon {
  box-shadow: none;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  border-radius: 20%;
}

.startup-form {
  .p-dialog .p-dialog-header-icons {
    display: none;
  }
}

.top-nav-search {
  p-iconField input {
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
}

.top-nav-search-dark {
  p-iconField input {
    width: 100%;
    font-family: "Outfit", sans-serif;
    background: transparent;
    color: white;
  }
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  font-family: "Outfit", sans-serif;
}

.p-sidebar-dark .p-sidebar {
  color: white;
  background: rgb(42, 42, 42);
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-family: "Outfit", sans-serif;
}

.p-text-secondary {
  font-family: "Outfit", sans-serif;
}

.dashboard-container-dark {
  .p-dialog .p-dialog-content:last-of-type,
  .p-dialog-draggable .p-dialog-header {
    background: rgb(42, 42, 42);
    color: white;
  }

  .p-text-secondary {
    color: white;
  }

  .startup-form {
    input {
      background: black;
      color: white;
    }
  }

  .p-toast .p-toast-message .p-toast-message-content {
    background-color: rgb(22, 22, 22);
  }

  .p-toast .p-toast-message .p-toast-icon-close {
    background-color: transparent;
  }
}

.form-container-dark {
  input, textarea, .p-dropdown {
    background: rgb(28, 28, 28);
    color: white;
    transition: none;
  }

  .p-dropdown-label {
    color: white;
  }
}

.contact-container {
  .p-button {
    font-size: 0.8rem;
    padding: 10px;
  }
}

.dialogactions {
  .p-button {
    font-size: 0.9rem;
    min-width: 70px;
  }
}

.p-tooltip {
  text-align: center;
  font-size: 0.8rem;
  max-width: 250px;
}