@import "primeicons/primeicons.css"; /* PrimeIcons should be first */
@import "primeng/resources/primeng.css"; /* PrimeNG component styles */
@import "primeng/resources/themes/lara-light-blue/theme.css"; /* Theme styles */

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#entry-form {
  p-button .p-button {
    transition: none;
    min-width: 110px;
  }
}

p-password .p-password, p-password input {
  margin: auto;
  width: 100%;
  font-family: "Outfit", sans-serif;
}
