@import "primeicons/primeicons.css"; /* PrimeIcons should be first */
@import "primeng/resources/primeng.css"; /* PrimeNG component styles */
@import 'include-media';
$breakpoints: (
  'phone': 460px,
  'tablet': 768px,
  'desktop': 1024px
);

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

p-progressSpinner {
  z-index: 5;
}

p-button .p-button {
  transition: none;
  min-width: 110px;
}

p-password .p-password, p-password input {
  margin: auto;
  width: 100%;
  font-family: "Outfit", sans-serif;
}

.p-dropdown {
  width: 100%;
}

input,
textarea,
.p-checkbox .p-checkbox-box,
.p-button,
.p-dropdown,
.p-dialog .p-dialog-header .p-dialog-header-icon {
  box-shadow: none;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  border-radius: 20%;
}

.startup-form {
  .p-dialog .p-dialog-header-icons {
    display: none;
  }
}

.top-nav-search {
  p-iconField input {
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  font-family: "Outfit", sans-serif;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-family: "Outfit", sans-serif;
}

.p-text-secondary {
  font-family: "Outfit", sans-serif;
}

.contact-container {
  .p-button {
    font-size: 0.8rem;
    padding: 10px;
  }
}

.dialogactions {
  .p-button {
    font-size: 0.9rem;
    min-width: 70px;
  }
}

.p-tooltip {
  text-align: center;
  font-size: 0.8rem;
  max-width: 250px;
}

.avatar-upload-container {
  .p-button {
    font-size: 1.3rem;
    width: 200px;
  }
}