<p-dialog header="{{ type === 'edit' ? 'Edit Contact' : 'Add Contact' }}" [modal]="true" (onHide)="closeDialog()" (onShow)="editCheck()" [(visible)]="showContactFormDialog" [style]="{ width: '26rem' }">
  <form [formGroup]="contactForm" class="contact-form" (ngSubmit)="type === 'edit' ? submitDialog('edit') : submitDialog('add')">
    <div class="input-group" [class.disabled]="dialogLoading()">
      <label for="contact_name">Contact Name*</label>
      <input id="contact_name" type="text" pInputText variant="filled" placeholder="Name" formControlName="contact_name" autocomplete="name"/>
    </div>

    <div class="input-group" [class.disabled]="dialogLoading()">
      <label for="contact_email">Contact Email</label>
      <input id="contact_email" type="email" pInputText variant="filled" placeholder="Email" formControlName="contact_email" autocomplete="email"/>
    </div>

    <div class="input-group" [class.disabled]="dialogLoading()">
      <label for="contact_position">Contact Position</label>
      <input id="contact_position" type="text" pInputText variant="filled" placeholder="Position" formControlName="contact_position" autocomplete="off"/>
    </div>

    <div class="input-group" [class.disabled]="dialogLoading()">
      <label for="contact_phone">Contact Phone</label>
      <input id="contact_phone" type="tel" pInputText variant="filled" placeholder="Phone" formControlName="contact_phone" phoneNumber autocomplete="tel"/>
    </div>

    <p-button label="{{ type === 'edit' ? 'Update Contact' : 'Add Contact' }}" type="submit" [disabled]="dialogLoading() || contactForm.invalid || !contactForm.dirty"></p-button>
    @if (dialogLoading()) {
      <p-progressSpinner ariaLabel="loading" strokeWidth="3"/>
    }
  </form>
</p-dialog>