@use '../../../variables.scss' as *;
@import 'include-media';

.dashboard-container {
  position: relative;
  height: 100vh;
  animation: fadeIn 0.2s linear;

  p-progressSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.startup-form {
  position: relative;

  input {
    margin: 15px auto;
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
}

// #region Top Navbar
.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 78px;
  text-align: center;
  transition: 0.1s linear;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

.logo {
  max-width: 200px;
}

.top-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  padding: 15px;

  @media screen and (max-width: 1000px) {
    padding: 8px;
  }
}

.top-nav-search,
.top-nav-search-dark {
  margin: auto;
  width: 100%;
}

.top-nav-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  width: 100%;
  gap: 10px;

  @media screen and (max-width: 1000px) {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
  font-size: 0.8rem;

  &:hover {
    cursor: pointer;
  }

  &:hover ~ .name-arrow {
    color: $theme-color-main;
  }
}

.avatar-hover-dark {
  &:hover ~ .name-arrow {
    color: $theme-color-main-light;
  }
}

.top-nav-avatar__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
}

.hamburger-icon,
.close-icon {
  display: none;

  @media screen and (max-width: 1000px) {
    display: inline-block;
    font-size: 1.5rem;
    padding: 7px;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
  }
}

.name-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: #868996;
  transition: 0.1s linear;

  span {
    text-transform: capitalize;
  }

  &:hover {
    cursor: pointer;
    color: $theme-color-main;
  }
}

.name-arrow-hover-dark {
  &:hover {
    cursor: pointer;
    color: $theme-color-main-light;
  }
}

.pi-chevron-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 3px;
}

.pi-moon:hover,
.pi-sun:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pi-moon {
  font-size: 1rem;
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 8px;
  border-radius: 50%;
  animation: fadeIn 0.2s linear;
  transition: 0.1s linear;
}

.pi-sun {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 8px;
  border-radius: 50%;
  animation: fadeIn 0.2s linear;
  transition: 0.1s linear;
}
// #endregion

.main-container {
  display: flex;
  height: calc(100% - 78px);

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    height: auto;
  }
}

// #region Side Navbar
.side-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  transition: 0.1s linear;
  color: rgb(145, 145, 145);

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.side-nav-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  gap: 10px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Outfit", sans-serif;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 0 15px;
    text-align: center;
    font-weight: 500;

    .pi {
      font-size: 1rem;
    }
  }

  @media screen and (max-height: 700px) {
    min-height: 100px;
    margin-bottom: 15px;
  }
}

.nav-active {
  color: black;

  span {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.nav-active-dark {
  color: white;
}

.pi-active {
  color: $theme-color-main;
}

.pi-active-dark {
  color: $theme-color-main-light;
}

.add-client-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #004aad;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 1.1rem;
  // transition: 0.1s linear;

  &:hover {
    background-color: #003c89;
    cursor: pointer;
  }
}

.side-nav-main {
  display: flex;
  flex-direction: column;
}

.side-nav-links-dark {
  .side-nav-link {
    span {
      &:hover {
        color: white;
      }
    }
  
    &:hover .pi {
      color: $theme-color-main-light;
    }
  }
}

.side-nav-links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 40px;
}

.side-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  transition: 0.1s linear;

  .pi {
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    &:hover ~ span {
      text-decoration: underline;
    }
  }

  span {
    &:hover {
      cursor: pointer;
      color: black;
    }
  }

  &:hover .pi {
    color: $theme-color-main;
  }
}

.side-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;

  img {
    max-width: 120px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media screen and (max-height: 820px) {
    display: none;
  }
}

.side-nav-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 25px;

  h3 {
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

.mobile-side-nav-links {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 25px;
}

.mobile-side-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  .pi {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.mobile-active {
  color: $theme-color-main;
}

.mobile-active-dark {
  color: $theme-color-main-light;
}
// #endregion